    <section class="section is-small">
        <div class="container is-max-desktop ">

            <h1 class="title">Latest Reviews</h1>
            <hr class="mb-6">

  

                    <div class="columns is-multiline review-list">

                        {{#each reviews as |review|}}
                        <div class="column is-one-third">
                            <a href="/review/{{review.id}}">
                            <div class="box p-6">
                                <div class="content">
                                    <p>

                                        {{review.review}}

                                    </p>
                                    <small>By <strong>{{review.id}}</strong> • Rating: <strong>{{review.rating}}/5</strong></small>
                                </div>
                                <button class="button is-danger is-light deleteBtn" type="reset" data-id="{{review.id}}">Delete</button>
                            </div></a>
                        </div>
                        {{/each}}
                        

                    </div>


                    <hr>



        </div>
       

    </section>

<script src="./js/profile.js"></script>


