<section class="section mt-6 pt-6">
        <h1 class="title">Your Reviews</h1>
        <h2 class="subtitle">
          Here are some reviews you have written
        </h2>
         <div class="col-md-5">
      
      <p>
        <strong>{{book.title}}Booktitle</strong> by <strong>{{user.username}}username</strong><br><br>
        {{review}}<br><br>
        Rating <strong>{{rating}} / 5</strong> • Date created <strong>{{created_at}}Date created</strong>
       
      </p>
    </div>
      </section>