<section class="section mt-6 pt-6">
         <div class="col-md-5">
      
      <p>
        <strong>{{title}}</strong> by <strong>{{author}}</strong><br><br>
        {{description}}<br><br>
        Genre <strong>{{genre}}</strong> • ISBN <strong>{{isbn}}</strong>
       
      </p>
    </div>
      </section>


    

