<section class="section mt-6 pt-6">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
      </section>

    <!-- card for book sections -->
    <section class="columns">
        <div class="hero">
            <a class="hero-background image is-3by1 cardcvr">
                <!-- <img src="./img/background2.jpg"> -->
            </a>
        </div>
        {{#each books as |books|}}
        <div class="column is-3 cardcvr card is-offset-2">
          <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">{{books_title}}</p>
                      <p class="subtitle is-6">{{books_author}}</p>
                    </div>
                  </div>
    
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                  </div>
                </div>
            </div>
          </div>
          </div>

          <div class="column is-offset-2">
            <!-- recommended books -->
            <section class="hero">
              <div class="hero-body">
                <p class="title">
                  Recommended For You
                </p>
              </div>
            </section>
            <div class="columns">
              <div class="card backcard column is-4">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
              </div>
              <div class="card backcard column is-4 is-offset-1">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
              </div>
            </div>
            <div class="columns is-offset-1">
              <div class="card backcard column is-4 ">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
              </div>
              <div class="card backcard column is-4 is-offset-1">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
              </div>
            </div>
              
              
          </div>
    </section>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
