<section class="section mt-6 pt-6">
  <h1 class="title">Welcome, {{username}}!</h1>
  <h2 class="subtitle">
    It's time to start writing reviews
  </h2>

  {{#each books as |book|}}
    <div class="col-md-5">
      <p>
        <strong>
        {{title}}</strong> <br>
        {{description}} <br><br>Genre: <strong>{{genre}}</strong>
        <br>
        <br>
      </p>
    </div>
  {{/each}}
  
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-review-form">
      <div class="form-group">
        <label for="review-bookname">review name:</label>
        <input class="form-input" type="text" id="review-bookname" name="review-bookname" />
      </div>
      <div class="form-group">
        <label for="review-rating">needed rating:</label>
        <input class="form-input" type="number" id="review-rating" name="review-rating" />
      </div>
      <div class="form-group">
        <label for="review-desc">description:</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if reviews.length}} --}}
  <div class="col-md-6 review-list">
    <h3>Current Reviews:</h3>

    {{#each review as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/review/{{review.id}}">{{review.review}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- {{/if}} --}}
</div>
  
</section>

<script src="./js/profile.js"></script>